.codex-editor {
	--bg-color: var(--background-normal) !important;
	--front-color: var(--foreground-normal) !important;
	--border-color: var(--border-normal) !important;
}

.codex-editor .ce-toolbar__settings-btn,
.codex-editor .ce-toolbar .ce-toolbox__button:hover {
	background: var(--background-normal-alt);
	border-radius: var(--border-radius);
}

.codex-editor .ce-toolbar__settings-btn svg {
	fill: var(--background-inverted) !important;
}

.codex-editor .cdx-settings-button svg,
.codex-editor .ce-inline-toolbar__dropdown svg,
.codex-editor .ce-inline-toolbar .ce-inline-tool svg,
.codex-editor .ce-settings .ce-settings__button svg {
	fill: var(--v-list-color) !important;
}

.codex-editor .ce-inline-tool--align-text svg {
	stroke: var(--v-list-color) !important;
}

.codex-editor .ce-inline-toolbar .ce-inline-tool--active svg,
.codex-editor .ce-settings .cdx-settings-button--active svg,
.codex-editor .ce-toolbar__plus:hover svg {
	fill: var(--primary) !important;
}

.codex-editor .ce-toolbar .ce-toolbox__button svg,
.codex-editor .ce-toolbar .ce-toolbox__button:hover svg {
	fill: var(--foreground-normal);
}

.codex-editor .image-tool--loading .image-tool__image,
.codex-editor .ce-block--selected .ce-block__content {
	background: var(--module-background-alt);
}

.codex-editor .image-tool--loading .image-tool__image {
	border-color: var(--border-normal);
}

.codex-editor .ce-inline-toolbar__toggler-and-button-wrapper {
	padding: 0;
}

.codex-editor .ce-inline-toolbar__dropdown {
	margin: 0;
}

.codex-editor .ce-inline-tool {
	padding: 0 10px !important;
}

/* Button balloons */

.codex-editor .ce-inline-toolbar__dropdown {
	border-color: var(--border-normal);
}

.codex-editor .ce-conversion-toolbar,
.codex-editor .ce-inline-toolbar,
.codex-editor .ce-settings {
	background: var(--background-subdued);
	border-color: var(--border-normal);
	border-width: var(--border-width);
	border-radius: var(--border-radius);
}

.codex-editor .cdx-settings-button:hover,
.codex-editor .ce-conversion-tool:hover,
.codex-editor .ce-inline-toolbar__dropdown:hover,
.codex-editor .ce-inline-toolbar .ce-inline-tool:hover,
.codex-editor .ce-settings .ce-settings__button:hover {
	background: var(--v-list-item-background-color-active);
}

.codex-editor .ce-conversion-toolbar .ce-conversion-tool--focused:not(:hover) {
	color: var(--primary);
	background-color: var(--v-list-item-background-color-hover) !important;
	-webkit-box-shadow: unset;
	box-shadow: unset;
}

.codex-editor .ce-conversion-tool:hover {
	color: var(--v-list-item-color-hover);
	background-color: var(--v-list-item-background-color-hover) !important;
	-webkit-box-shadow: unset;
	box-shadow: unset;
}

.codex-editor .ce-conversion-toolbar__label {
	color: var(--foreground-normal);
}

.codex-editor .ce-conversion-tool__icon {
	background: transparent;
}

/* Textarea and inputs */

.codex-editor [contentEditable="true"][data-placeholder]::before {
	font-weight: unset;
}

.codex-editor .ce-code__textarea {
	font-family: var(--family-monospace);
}

.codex-editor .cdx-input,
.codex-editor .ce-code__textarea {
	color: var(--foreground-normal);
	font-size: inherit;
	background-color: var(--background-page);
	border: var(--border-width) solid var(--border-normal);
	border-radius: var(--border-radius);
	box-shadow: unset;
}

.codex-editor .cdx-input:hover,
.codex-editor .ce-code__textarea:hover {
	border-color: var(--border-normal-alt);
}

.codex-editor .cdx-input:focus,
.codex-editor .ce-code__textarea:focus {
	border-color: var(--primary);
}

.codex-editor .ce-inline-tool-input {
	color: var(--primary);
	background: var(--background-normal);
	border-top-color: var(--border-normal);
}

/* Buttons */
.codex-editor .cdx-button {
	color: var(--v-button-color);
	font-weight: var(--v-button-font-weight);
	font-size: var(--v-button-font-size);
	text-decoration: none;
	background-color: var(--v-button-background-color);
	border: var(--border-width) solid var(--v-button-background-color);
	border-radius: var(--border-radius);
	cursor: pointer;
}

.codex-editor .cdx-button:hover {
	color: var(--v-button-color-hover);
	background-color: var(--v-button-background-color-hover);
	border-color: var(--v-button-background-color-hover);
}

/* General components re-style */
.codex-editor .cdx-attaches,
.codex-editor .cdx-personality {
	color: var(--foreground-normal);
	background: var(--background-normal-alt);
	border-color: var(--border-normal);
	box-shadow: unset;
}

/* Quote block */
.codex-editor .cdx-block.cdx-quote {
	padding-left: 22px;
}

/* Image Tool */
.codex-editor .image-tool {
	--bg-color: var(--background-normal-alt);
	--front-color: var(--primary);
	--border-color: var(--border-normal);
}

/* Personality */
.codex-editor .cdx-personality__description {
	font-weight: unset;
	font-size: 0.9em;
	font-style: oblique;
}

.codex-editor .cdx-personality .cdx-personality__photo {
	background-color: transparent;
}

.codex-editor .cdx-personality__link {
	color: var(--primary);
	font-size: 0.72em;
}

/* Checklist */
.codex-editor .cdx-checklist__item-checkbox {
	background: transparent;
	border-color: var(--border-normal);
}

.codex-editor .cdx-checklist__item--checked .cdx-checklist__item-checkbox {
	background: var(--primary);
	border-color: var(--primary);
}

/* Lists */
.codex-editor .ce-block ul,
.codex-editor .ce-block ol {
	font-size: inherit;
}

/* Attaches */
.codex-editor .cdx-attaches__size {
	color: var(--foreground-subdued);
}

.codex-editor .cdx-attaches--with-file .cdx-attaches__file-icon::before {
	background: transparent;
}

/* InlineCode */
.codex-editor .ce-block code {
	font-size: inherit;
	color: var(--warning-10);
	background: var(--warning-175);
}

/* Marker */
.codex-editor .cdx-marker {
	background: var(--warning-alt);
}
